<!-- {% load static %}

<link href="{% static '/css/main.css' %}" rel = "stylesheet"
type="text/css">

<h3>hello world</h3>

<img src="{% static 'images/2.JPG' %}"> -->
{% load static %}
<!doctype html>
<html>
<head>
    <title>Shreesat Sahu</title>
    <link href="{% static '/css/main.css' %}" rel = "stylesheet"type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
    <div class="container"> 
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/2.JPG' %}">
                    <hr>
                    <h4>Hi, I am Shreesat Sahu</h4>
                    <p>I'm a web developer</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>SKILLS:-</h4>
                        <hr>
                        <p>I am a Digital Marketer with robust problem solving skills and proven experience in
                        creating strategies to increase the conversion
                        and reach out to many people as possible.
                        <br>
                        <b>Cell</b>: 7008117266
                        <br>
                        <b>Email</b>: shreesat@creatopro.com
                        <br>
                        <b>LinkedIn:</b>
                        https://www.linkedin.com/in/shreesat-sahu3840401b2/</p>
                </div>
            </div>
        </div>

        <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body">
                        <h4>CAREER SUMMARY</h4>
                        <hr>
                        <p><b>Web Dev and SMM Comparison Mart | May 2019 to August 2019</b><br>
                            *Organizes all social media posts for the
                            editorial department<br>
                            *Approves all content to be posted on social
                            media<br>
                            *Engages with readers and clients online

                        

                        </p>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="card card-body">
                        <h4>EDUCATIONAL TRAINING</h4>
                        <hr>
                        <p><b>Chandigarh University | B.Tech in Computer Science</b><br>
                            *Enrolled since Sept. 2018 to present<br>
                            *Taking up specialization courses in data
                            science to broaden skill set<br>
                            *Taking up electives in cyber security
                        </p>
                   
                    </div>
                </div>
            </div>

        <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body">
                        <hr>
                        <p><b>Social Media Manager at KamBright | Nov 2019 to Feb 2020</b><br>
                            <p>
                                *Created all posts for KamBright social media
                                accounts<br>
                                *Synced KamBright's blog to social media
                                pages
                                <br>
                                *Establish a clear brand voice on social media
    
                            
    
                            </p>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="card card-body">
                        <hr>
                        <p><b>DAV Chandrasekharpur</b><br>
                            *Completed my +2 in Science
                        </p>
                    </div>
                </div>
            </div>
    </div>


</body>
</html>